body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

nav {
    background-color: #E52229;
    width: 100%;
    height: 60px;
    line-height: 58px;
}

.page-footer {
    padding-top: 20px;
    background-color: #023877;
}

@media print {
    .no-print {
        display: none;
    }
}

/*
Carlos Henriquez
2020-10203
*/